{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/html-self-closing": "warn",
    "no-unused-vars": "off",
    "semi": [2, "always"],
    "@typescript-eslint/semi": [2, "always"],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
